$primary:#EA14EC;
$secondary:#1246CE;
$darkPink: #E50695;
$white: #FFFFFF;
$black: #000000;
$green: #008632;
$lightGray: #F7F7FABF;

$font12: 12px;
$font14: 14px;
$font16: 16px;
$font20: 20px;
$font28: 28px;

