@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.xx-small {
  font-size: 12px;
}
@media (max-width: 480px) {
  .xx-small {
    font-size: 10px;
  }
}

.x-smallTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .x-smallTitle {
    font-size: 12px;
  }
}

.smallTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .smallTitle {
    font-size: 12px;
  }
}

.largeTitle {
  font-size: 20px;
}
@media (max-width: 480px) {
  .largeTitle {
    font-size: 14px;
  }
}

.x-largeTitle {
  font-size: 28px;
}
@media (max-width: 480px) {
  .x-largeTitle {
    font-size: 18px;
  }
}

.likeIcon, .copyMeta .like .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18.3334C14.3056 18.3334 13.7153 18.0903 13.2292 17.6042C12.7431 17.1181 12.5 16.5278 12.5 15.8334C12.5 15.7361 12.5069 15.6353 12.5208 15.5309C12.5347 15.4264 12.5556 15.3328 12.5833 15.25L6.70833 11.8334C6.47222 12.0417 6.20833 12.205 5.91667 12.3234C5.625 12.4417 5.31944 12.5006 5 12.5C4.30556 12.5 3.71528 12.257 3.22917 11.7709C2.74306 11.2847 2.5 10.6945 2.5 10C2.5 9.30558 2.74306 8.7153 3.22917 8.22919C3.71528 7.74308 4.30556 7.50002 5 7.50002C5.31944 7.50002 5.625 7.55919 5.91667 7.67752C6.20833 7.79585 6.47222 7.95891 6.70833 8.16669L12.5833 4.75002C12.5556 4.66669 12.5347 4.57308 12.5208 4.46919C12.5069 4.3653 12.5 4.26446 12.5 4.16669C12.5 3.47224 12.7431 2.88196 13.2292 2.39585C13.7153 1.90974 14.3056 1.66669 15 1.66669C15.6944 1.66669 16.2847 1.90974 16.7708 2.39585C17.2569 2.88196 17.5 3.47224 17.5 4.16669C17.5 4.86113 17.2569 5.45141 16.7708 5.93752C16.2847 6.42363 15.6944 6.66669 15 6.66669C14.6806 6.66669 14.375 6.6078 14.0833 6.49002C13.7917 6.37224 13.5278 6.20891 13.2917 6.00002L7.41667 9.41669C7.44444 9.50002 7.46528 9.59391 7.47917 9.69835C7.49306 9.8028 7.5 9.90335 7.5 10C7.5 10.0972 7.49306 10.1981 7.47917 10.3025C7.46528 10.407 7.44444 10.5006 7.41667 10.5834L13.2917 14C13.5278 13.7917 13.7917 13.6286 14.0833 13.5109C14.375 13.3931 14.6806 13.3339 15 13.3334C15.6944 13.3334 16.2847 13.5764 16.7708 14.0625C17.2569 14.5486 17.5 15.1389 17.5 15.8334C17.5 16.5278 17.2569 17.1181 16.7708 17.6042C16.2847 18.0903 15.6944 18.3334 15 18.3334Z' fill='white'/%3E%3C/svg%3E%0A");
}

.ballIcon, .scoreBannerWrapper .matchTitle .smallTitle::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.21637 2.75748C4.14655 2.52715 4.14267 2.28754 4.44237 2.19098C4.72268 2.10094 4.87499 2.26908 4.95263 2.50968C5.11164 2.96381 5.27973 3.41921 5.42843 3.88111C5.4876 4.0548 5.47674 4.20042 5.38927 4.29869C5.21434 4.49523 4.82171 4.39506 4.72594 4.15196C4.5216 3.69157 4.36383 3.22841 4.21637 2.75748ZM4.32978 5.08119C4.21339 4.85363 4.02393 4.75391 3.78769 4.85923C3.56052 4.96581 3.50468 5.16959 3.61982 5.40617C3.82133 5.82019 3.99315 6.2485 4.20496 6.65474C4.48999 7.19983 4.78532 7.73716 5.11158 8.25116C5.17947 8.36168 5.41142 8.42128 5.55362 8.39493C5.58206 8.38966 5.61175 8.37537 5.64268 8.35205C5.7792 8.23296 5.79097 8.01392 5.72274 7.83899C5.26749 6.92097 4.7941 6.00045 4.32978 5.08119ZM7.23352 8.20383C7.47973 8.02632 7.34805 7.84264 7.22792 7.64215C6.99673 7.24242 6.7643 6.8517 6.56279 6.43768C6.31562 5.95299 6.11875 5.43846 5.8522 4.96028C5.79747 4.88836 5.73242 4.82421 5.65457 4.78587C5.57797 4.73852 5.48856 4.717 5.40573 4.71477C5.37854 4.71101 5.35793 4.72654 5.32824 4.74083C5.12702 4.86018 5.09497 5.15923 5.19448 5.37526C5.52303 6.07348 5.86065 6.77295 6.19951 7.46341C6.30808 7.68069 6.42696 7.8902 6.56646 8.08417C6.73724 8.31924 6.97701 8.38911 7.23352 8.20383ZM12.7726 8.09484C12.6763 8.45855 12.9046 8.81193 13.2791 8.9096C14.492 9.22415 15.6983 9.51939 16.8856 9.88557C18.1882 10.2861 19.4425 10.8362 20.6134 11.522C20.6394 11.5347 20.6241 11.5786 20.5891 11.5646C18.0352 10.458 15.3218 9.77086 12.5577 9.51806C12.493 9.51833 12.4271 9.52762 12.3677 9.55621C12.3083 9.58479 12.2568 9.62365 12.213 9.67278C11.9279 10.0656 12.2207 10.621 12.7024 10.6783L15.836 11.0648C15.8632 11.0686 15.8789 11.0891 15.8751 11.1162C15.8726 11.1342 15.852 11.1498 15.8326 11.1563L11.5706 11.2485C12.9647 11.3214 14.3422 11.4471 15.7138 11.6824C15.9845 11.729 15.9356 12.0165 15.6599 12.006C13.2435 11.9116 10.8449 12.0219 8.51299 12.7207C5.15007 13.7277 1.5446 11.7404 0.686754 8.38521C-0.187077 4.94505 1.92967 1.52229 5.38996 0.813721C5.6756 0.752001 5.95751 0.717371 6.24191 0.664674C6.3363 0.650116 6.42944 0.644575 6.52258 0.639041C6.63385 0.636009 6.74387 0.642001 6.86171 0.658267C7.3681 0.737361 7.86916 0.788123 8.36026 0.911083C8.77102 1.01376 9.15368 1.18612 9.5454 1.35973C10.2172 1.64557 10.8635 1.98306 11.5469 2.2521C13.7371 3.11535 15.8609 4.12574 17.786 5.50412C18.7784 6.21122 19.7671 6.94538 20.7121 7.72868C19.5537 6.95269 18.3733 6.20127 17.1521 5.54535C16.7135 5.31009 16.4353 5.78662 16.838 6.0813L17.2836 6.40027C17.2914 6.41054 17.2901 6.41956 17.2798 6.42734C17.2798 6.42734 17.2695 6.43511 17.2617 6.42484L14.0303 4.93971C13.37 4.63708 12.6408 5.23527 12.8503 5.92625C12.8988 6.04329 13.0054 6.14077 13.1273 6.19438C13.9248 6.50676 14.748 6.76753 15.5211 7.12252C16.4162 7.53113 17.3203 7.94097 18.1435 8.46839C19.4939 9.32606 20.7944 10.278 22.1088 11.195C22.1854 11.2424 22.1302 11.3083 22.0535 11.261C19.4694 9.57095 16.6107 8.33037 13.6097 7.58511C13.2455 7.47966 12.869 7.73114 12.7726 8.09484ZM12.0369 7.46916C12.2572 5.60532 11.6159 4.02715 10.1988 2.78326C8.40198 1.2111 5.65138 1.06132 3.68265 2.40796C3.46862 2.55313 3.39555 2.68098 3.49914 2.93436C3.65373 3.28673 3.76956 3.65213 3.89571 4.00977C3.98241 4.25163 3.95128 4.47723 3.66189 4.56602C3.40095 4.64954 3.2474 4.49041 3.16727 4.26786C3.0452 3.94756 2.93345 3.61948 2.81263 3.29016C2.80606 3.27086 2.79042 3.2503 2.77353 3.23877C2.72163 3.21322 2.66351 3.2328 2.63915 3.27542C2.61355 3.32706 2.58919 3.36966 2.55452 3.42004C1.47345 4.76047 1.11667 6.27444 1.45823 7.94917C1.97403 10.5031 4.3426 12.2829 7.09929 12.1209C8.34761 12.045 9.51725 11.5352 10.4198 10.685C11.3211 9.84391 11.8947 8.70011 12.0369 7.46916ZM6.57325 9.10581C6.49132 9.03013 6.27908 9.02842 6.16159 9.07657C5.96659 9.1508 5.98237 9.43802 6.08686 9.61796C6.31023 10.0074 6.79059 10.5427 6.9822 10.5599C7.10129 10.5672 7.28349 10.5188 7.35158 10.427C7.42091 10.3262 7.45205 10.1007 7.3895 10.0185C7.12897 9.69745 6.86595 9.39449 6.57325 9.10581ZM8.1879 9.05281C7.95526 8.86437 7.44098 9.24397 7.6002 9.49583C7.79728 9.80809 8.07559 10.0672 8.32546 10.3316C8.46213 10.4792 8.77124 10.4483 8.8868 10.2803C8.89711 10.2725 8.89959 10.2545 8.90084 10.2455C8.92983 10.1023 8.91973 9.90786 8.84403 9.78706C8.6601 9.5134 8.43618 9.26179 8.1879 9.05281Z' fill='white'/%3E%3C/svg%3E%0A");
}

.liveIcon, .scoreBannerWrapper .status .live::before {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1_3028)'%3E%3Ccircle cx='23' cy='23' r='5' fill='white' fill-opacity='0.5' shape-rendering='crispEdges'/%3E%3C/g%3E%3Ccircle cx='23' cy='23' r='3' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_1_3028' x='0' y='0' width='46' height='46' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='2' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_1_3028'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='8'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_3028'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_3028' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.teamIcon, .scoreBannerWrapper .teamWrap .team .teamlogo {
  background-image: url("data:image/svg+xml,%3Csvg width='88' height='88' viewBox='0 0 88 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4166 55.6417L43.9999 35.0167L70.5833 55.6417C68.811 60.4694 66.2603 64.8242 62.9309 68.706C59.6016 72.5878 55.7357 75.658 51.3333 77.9167V58.7583C51.3333 57.7194 50.9813 56.8492 50.2773 56.1477C49.5733 55.4461 48.703 55.0941 47.6666 55.0917H40.3333C39.2944 55.0917 38.4229 55.4437 37.7189 56.1477C37.0149 56.8517 36.6642 57.7219 36.6666 58.7583V77.9167C32.2666 75.6556 28.4007 72.5853 25.0689 68.706C21.7372 64.8267 19.1864 60.4719 17.4166 55.6417ZM14.6666 40.7V23.4667C14.6666 21.9389 15.1103 20.5492 15.9976 19.2977C16.8849 18.0461 18.0302 17.1441 19.4333 16.5917L41.4333 8.34166C42.2888 8.03611 43.1444 7.88333 43.9999 7.88333C44.8555 7.88333 45.711 8.03611 46.5666 8.34166L68.5666 16.5917C69.9722 17.1417 71.1186 18.0437 72.0059 19.2977C72.8933 20.5517 73.3357 21.9413 73.3333 23.4667V40.7C73.3333 41.9222 73.2722 43.1298 73.1499 44.3227C73.0277 45.5156 72.8749 46.7219 72.6916 47.9417L48.4916 29.2417C47.1472 28.2028 45.6499 27.6833 43.9999 27.6833C42.3499 27.6833 40.8527 28.2028 39.5083 29.2417L15.3083 47.9417C15.0638 46.7194 14.8952 45.5131 14.8023 44.3227C14.7094 43.1322 14.6642 41.9247 14.6666 40.7Z' fill='%23421963'/%3E%3C/svg%3E%0A");
}

.stadiumIcon, .scoreBannerWrapper .stadiumWrap .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_3100)'%3E%3Cpath d='M16.4349 6.03095C16.4361 5.65503 16.3041 5.34659 16.0478 5.08494C15.5949 4.62166 15.0252 4.34676 14.4216 4.16128C13.748 3.95428 13.0574 3.80109 12.3718 3.63425C12.27 3.6094 12.2327 3.5796 12.2381 3.47651C12.2455 3.33285 12.2401 3.18877 12.2401 3.02855C12.3064 3.02524 12.361 3.02068 12.4157 3.02068C12.9063 3.02027 13.3969 3.01903 13.8875 3.02068C14.0291 3.0211 14.1574 2.99957 14.2332 2.86336C14.311 2.72259 14.2663 2.59674 14.1852 2.47253C14.0668 2.29078 13.9583 2.10282 13.8374 1.92356C13.7856 1.84696 13.7894 1.79024 13.8391 1.71572C13.9645 1.52652 14.08 1.33069 14.2026 1.13983C14.2783 1.02226 14.3036 0.901364 14.232 0.775919C14.1632 0.655028 14.0506 0.619423 13.9169 0.619837C13.2714 0.621907 12.6256 0.619837 11.9802 0.621079C11.7334 0.621493 11.6216 0.73369 11.6212 0.982924C11.6195 1.75754 11.6204 2.53256 11.6204 3.30718C11.6204 3.36804 11.6204 3.4289 11.6204 3.46202C10.3407 3.3995 9.07504 3.33781 7.79782 3.27571V2.40049H7.96632C8.45692 2.40049 8.94753 2.39925 9.43813 2.40132C9.57931 2.40174 9.70682 2.38104 9.78507 2.24566C9.86704 2.10365 9.81777 1.97986 9.73787 1.85607C9.61988 1.67432 9.51058 1.48677 9.39052 1.30627C9.34125 1.23216 9.33628 1.1771 9.38803 1.10009C9.51762 0.907574 9.63851 0.709264 9.75857 0.510125C9.91714 0.247228 9.78093 0.00296238 9.47373 0.00172035C8.82829 -0.000763707 8.18244 6.43134e-05 7.53699 0.00172035C7.28321 0.00213436 7.16852 0.117229 7.16811 0.373087C7.16687 1.30295 7.1677 2.23241 7.1677 3.16227V3.34858C5.87764 3.426 4.60663 3.57918 3.35011 3.91287V3.0302C3.40724 3.02689 3.46148 3.0211 3.51571 3.02068C4.00632 3.01985 4.49692 3.01861 4.98752 3.02068C5.13532 3.02151 5.2678 2.99708 5.34191 2.85177C5.41147 2.71514 5.36634 2.59384 5.2885 2.4746C5.17051 2.29285 5.0608 2.10572 4.94074 1.92521C4.89147 1.8511 4.88774 1.79438 4.93825 1.71821C5.06701 1.52486 5.18873 1.32697 5.30879 1.12824C5.46653 0.867415 5.32825 0.621907 5.0223 0.620665C4.39756 0.618595 3.7724 0.619837 3.14766 0.619837C2.81728 0.619837 2.72081 0.713818 2.72081 1.04047C2.7204 2.00636 2.71833 2.97224 2.72371 3.93771C2.72454 4.06109 2.68604 4.11036 2.57094 4.1588C2.21034 4.31032 1.84849 4.46392 1.50694 4.6523C1.05774 4.89946 0.703343 5.24474 0.565063 5.76391V12.5508C0.764202 13.2418 1.30904 13.5899 1.90314 13.8789C2.77878 14.3049 3.71816 14.524 4.6708 14.6871C6.47589 14.9955 8.29339 15.0626 10.1196 14.9442C11.343 14.8651 12.5531 14.7016 13.7372 14.3762C14.4257 14.1869 15.0972 13.951 15.6876 13.5345C16.0362 13.2885 16.3289 12.9942 16.413 12.5516C16.4303 12.4614 16.4312 12.367 16.4312 12.2742C16.432 10.193 16.4287 8.11135 16.4345 6.03012L16.4349 6.03095ZM12.2488 1.24499H13.4002C13.3195 1.37748 13.2487 1.49961 13.1717 1.6176C13.0831 1.75381 13.0822 1.88547 13.1704 2.02209C13.245 2.13718 13.3149 2.25601 13.3973 2.39014H12.2488V1.24458V1.24499ZM3.35549 1.24955H4.50437C4.41784 1.38824 4.34291 1.51037 4.2659 1.63126C4.18558 1.75712 4.18475 1.88215 4.26424 2.00843C4.34001 2.1289 4.41536 2.25021 4.5023 2.39014H3.35549V1.24955ZM7.79616 0.624392H8.95167C8.873 0.753563 8.80676 0.87197 8.731 0.983752C8.63205 1.12948 8.62957 1.26818 8.72851 1.41474C8.80262 1.52404 8.86762 1.63913 8.94835 1.77037H7.79616V0.624392ZM6.16662 14.266C5.95299 14.242 5.74474 14.2217 5.53774 14.194C4.51845 14.0569 3.50785 13.8723 2.55231 13.4794C2.20247 13.3357 1.87044 13.1399 1.54999 12.9371C1.28751 12.7706 1.15627 12.5172 1.18111 12.1856C1.20223 11.9053 1.18525 11.6222 1.18525 11.3539C1.52391 11.5286 1.84767 11.7199 2.19005 11.8677C3.04291 12.2365 3.94546 12.4324 4.85876 12.5798C5.29057 12.6493 5.72529 12.7011 6.16703 12.7619V14.2656L6.16662 14.266ZM1.18525 7.09703C1.18525 7.07798 1.1898 7.05894 1.19063 7.05314C1.51315 7.2233 1.83525 7.39056 2.15445 7.56403C2.1855 7.581 2.21365 7.63524 2.21365 7.67209C2.21614 8.82717 2.21531 9.98226 2.21407 11.1374C2.21407 11.151 2.20579 11.1647 2.19626 11.1949C1.8634 11.0297 1.53592 10.8653 1.31442 10.561C1.2457 10.4667 1.19187 10.3362 1.19063 10.222C1.18111 9.18032 1.18525 8.13867 1.18525 7.09703ZM2.64712 7.07798C2.78167 6.87677 2.9775 6.75174 3.18119 6.64203C3.81918 6.29799 4.51224 6.11706 5.21812 5.98417C6.81041 5.68442 8.41552 5.63805 10.0285 5.75729C11.0346 5.83181 12.0269 5.98003 12.9891 6.2926C13.3973 6.42509 13.7935 6.58572 14.1367 6.85276C14.2175 6.91569 14.299 6.9782 14.3934 7.05148C12.2484 8.20864 4.94653 8.2103 2.64712 7.07798ZM8.17871 8.58995V9.93755C7.00168 10.193 6.33181 10.9146 6.16414 12.1285C5.86646 12.0937 5.56672 12.0585 5.25663 12.0225V8.3759C6.22831 8.44711 7.19792 8.51791 8.17871 8.58995ZM4.61988 8.26205V11.9103C4.45427 11.8776 4.29405 11.854 4.13797 11.8138C3.73928 11.7112 3.34224 11.6006 2.94479 11.4938C2.87441 11.4748 2.83384 11.4441 2.83425 11.3568C2.83756 10.2013 2.83674 9.04536 2.83715 7.88985C2.83715 7.87495 2.84336 7.86005 2.8475 7.84059C3.43705 7.98094 4.02453 8.12046 4.61988 8.26246V8.26205ZM10.1978 14.319C9.05889 14.4014 7.93651 14.4002 6.8191 14.3207C6.80875 14.3029 6.79923 14.2942 6.79923 14.2855C6.79923 13.5684 6.77646 12.8505 6.80502 12.1347C6.84021 11.2495 7.60117 10.554 8.49336 10.5466C9.37685 10.5391 10.1494 11.2317 10.1912 12.1227C10.2252 12.8476 10.1982 13.5755 10.1982 14.319H10.1978ZM10.2069 10.6786C9.83185 10.2746 9.36899 10.0328 8.81711 9.95038V8.59036C9.79666 8.51874 10.7671 8.44794 11.752 8.3759C11.752 8.4823 11.7495 8.61065 11.7524 8.73858C11.757 8.93399 11.8899 9.07392 12.065 9.07144C12.2356 9.06896 12.3648 8.93482 12.3701 8.74603C12.3747 8.58622 12.371 8.42641 12.371 8.26495C12.9651 8.12294 13.553 7.98259 14.1549 7.83852C14.157 7.88696 14.1612 7.93664 14.1612 7.98632C14.1612 9.09131 14.1595 10.1967 14.1641 11.3017C14.1645 11.418 14.1376 11.4777 14.0171 11.5071C13.5012 11.6325 12.9879 11.7666 12.4732 11.8962C12.4451 11.9033 12.414 11.9 12.3706 11.902C12.3706 11.7865 12.3747 11.6789 12.3697 11.5712C12.3615 11.3858 12.2257 11.2516 12.0563 11.2545C11.8858 11.257 11.7578 11.392 11.7524 11.5799C11.7483 11.7141 11.7495 11.8482 11.7475 11.9823C11.7475 11.9915 11.7392 12.0006 11.7284 12.0229C11.4361 12.0585 11.1364 12.095 10.823 12.133C10.7746 11.5679 10.5816 11.0827 10.2061 10.679L10.2069 10.6786ZM15.8097 12.3835C15.8044 12.6145 15.6532 12.7706 15.4893 12.9093C15.1697 13.1797 14.7958 13.3552 14.4091 13.5026C13.375 13.8959 12.2969 14.0967 11.2026 14.2259C11.0851 14.2395 10.9671 14.2515 10.8354 14.2656V12.7628C12.5589 12.5342 14.2862 12.3185 15.8118 11.3332C15.8118 11.6921 15.818 12.0378 15.8097 12.3835ZM15.6313 10.6339C15.4015 10.886 15.1092 11.0438 14.79 11.2011C14.7863 11.1303 14.7813 11.0815 14.7813 11.0322C14.7809 9.93382 14.7822 8.83545 14.7793 7.73708C14.7793 7.63234 14.8054 7.57645 14.9076 7.52635C15.2111 7.37855 15.5054 7.21212 15.8126 7.04776V7.18645C15.8126 8.17138 15.8097 9.15631 15.8151 10.1412C15.816 10.3342 15.758 10.4948 15.6313 10.6335V10.6339ZM15.6922 6.25452C15.4972 6.51824 15.2223 6.67846 14.9391 6.83082C14.5582 6.24789 13.974 5.98789 13.3687 5.76805C12.5403 5.46707 11.6779 5.31181 10.8056 5.2079C9.61822 5.06672 8.42711 5.04064 7.23435 5.11599C5.92277 5.1992 4.62692 5.37516 3.39234 5.85914C3.20107 5.93407 3.01559 6.02722 2.83508 6.12617C2.52871 6.29426 2.25836 6.50747 2.04556 6.86477C1.80668 6.67639 1.56407 6.51741 1.36162 6.31827C1.11942 6.0798 1.10824 5.81608 1.3521 5.58009C1.57442 5.36481 1.83442 5.17229 2.10891 5.02987C2.87069 4.63491 3.69912 4.43411 4.53749 4.27886C6.39019 3.93647 8.2582 3.86899 10.1353 3.99195C11.3637 4.07268 12.5772 4.23994 13.7608 4.58895C14.2613 4.73675 14.7544 4.90898 15.1933 5.19755C15.3717 5.31471 15.5402 5.45962 15.6806 5.62025C15.8656 5.83181 15.8582 6.03054 15.6922 6.25493V6.25452Z' fill='%23F7F7FA'/%3E%3Cpath d='M12.0754 10.4753C12.2418 10.4679 12.3751 10.3234 12.3693 10.157C12.3635 9.9926 12.217 9.85432 12.053 9.85846C11.8878 9.86301 11.7504 10.0058 11.7525 10.1715C11.7545 10.347 11.899 10.4832 12.075 10.4753H12.0754Z' fill='%23F7F7FA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_3100'%3E%3Crect width='15.8698' height='15' fill='white' transform='translate(0.565063 6.10352e-05)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.copyMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.copyMeta .news {
  font-size: 12px;
  opacity: 0.6;
}
.copyMeta .like .icon {
  height: 20px;
  width: 20px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0.6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
  font-size: 14px !important;
}

a {
  text-decoration: none;
}

.scoreBannerWrapper {
  background: linear-gradient(127deg, #EA14EC 0%, #1246CE 100%);
  min-height: 562px;
  width: 100%;
  z-index: 0;
  position: relative;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  .scoreBannerWrapper {
    min-height: 536px;
  }
}
.scoreBannerWrapper .bgVector {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.scoreBannerWrapper .bgVector .doodle {
  min-height: 562px;
  width: 40%;
  position: absolute;
  top: 0vw;
  background-repeat: no-repeat;
  background-image: url("../images/Vector1.png");
}
@media (max-width: 480px) {
  .scoreBannerWrapper .bgVector .doodle {
    width: 100%;
  }
}
.scoreBannerWrapper .bgVector .doodle.doodle1 {
  left: -0.37109375vw;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .bgVector .doodle.doodle1 {
    left: -40.37109375vw;
  }
}
.scoreBannerWrapper .bgVector .doodle.doodle2 {
  right: -0.37109375vw;
  transform: rotate(180deg);
}
@media (max-width: 480px) {
  .scoreBannerWrapper .bgVector .doodle.doodle2 {
    right: -37.37109375vw;
  }
}
.scoreBannerWrapper .matchTitle {
  padding-top: 65px;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .matchTitle {
    padding-top: 32px;
  }
}
.scoreBannerWrapper .matchTitle .smallTitle::before {
  content: "";
  position: relative;
  top: 4px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transform: rotate(7deg);
}
.scoreBannerWrapper .status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.scoreBannerWrapper .status .live {
  display: inherit;
  align-items: inherit;
  background-color: #008632;
  border-radius: 20px;
  border: 1px solid #008632;
  min-width: 70px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 12px;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .status .live {
    padding: 5px 7px;
  }
}
.scoreBannerWrapper .status .live::before {
  content: "";
  height: 12px;
  width: 50px;
  display: inline-block;
  margin: 0 -8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.scoreBannerWrapper .status::after, .scoreBannerWrapper .status::before {
  content: "";
  display: block;
  width: 15%;
  border-bottom: 1px solid rgba(247, 247, 250, 0.7490196078);
  box-sizing: border-box;
  opacity: 0.2;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .status::after, .scoreBannerWrapper .status::before {
    width: 33%;
  }
}
.scoreBannerWrapper .teamWrap {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
.scoreBannerWrapper .teamWrap .team {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .teamWrap .team {
    gap: 6px;
  }
}
.scoreBannerWrapper .teamWrap .team .teamlogo {
  background-color: #FFFFFF;
  width: 130px;
  min-height: 130px;
  text-indent: -99999px;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 0px rgba(17, 23, 32, 0.7490196078);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 78%;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .teamWrap .team .teamlogo {
    width: 60px;
    min-height: 60px;
  }
}
.scoreBannerWrapper .teamWrap .team .teamlogo.active {
  border: 3px solid #E50695;
}
.scoreBannerWrapper .teamWrap .team .superOver p {
  padding: 5px 0px 0px 0px;
}
.scoreBannerWrapper .teamWrap .team .superOver p::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(247, 247, 250, 0.7490196078);
  opacity: 0.3;
  width: 70%;
  margin-top: 5px;
}
.scoreBannerWrapper .teamWrap .team .superOver p:nth-last-child(1)::after {
  border-bottom: 0px;
}
.scoreBannerWrapper .teamWrap .team.team1 .superOver {
  text-align: start;
}
.scoreBannerWrapper .teamWrap .team.team2 .superOver {
  text-align: right;
  direction: rtl;
}
.scoreBannerWrapper .teamWrap .versus {
  min-width: 100px;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .teamWrap .versus {
    min-width: 50px;
  }
}
.scoreBannerWrapper .teamWrap .versus span {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 30px;
  font-weight: 700;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .teamWrap .versus span {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
.scoreBannerWrapper .teamNeeds {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(247, 247, 250, 0.2509803922);
  border-top: 1px solid rgba(247, 247, 250, 0.2509803922);
  text-align: center;
  margin: 0px auto 15px auto;
  width: fit-content;
  position: relative;
  z-index: 2;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .teamNeeds {
    padding: 15px 8px;
  }
}
.scoreBannerWrapper .teamNeeds p {
  margin-bottom: 0;
}
.scoreBannerWrapper .stadiumWrap {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.scoreBannerWrapper .stadiumWrap .icon {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.scoreBannerWrapper .stadiumWrap p {
  margin-bottom: 0px;
  font-weight: 300;
}
.scoreBannerWrapper .playerScoreWrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-top: 40px;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .playerScoreWrap {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }
}
.scoreBannerWrapper .playerScoreWrap .x-smallTitle {
  display: block;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard {
  width: 33.33%;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
}
@media (max-width: 1024px) {
  .scoreBannerWrapper .playerScoreWrap .scoreCard {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .scoreBannerWrapper .playerScoreWrap .scoreCard {
    width: 88%;
  }
}
.scoreBannerWrapper .playerScoreWrap .scoreCard .scoreboard {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard .scoreboard p {
  text-align: center;
  margin-bottom: 0px;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard .scoreboard p .largeTitle {
  color: #E50695;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard .scoreboard .horLine {
  border-right: 1px solid #000000;
  opacity: 0.2;
  display: block;
  height: 30px;
  margin: 0px 10px;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard.batterScore::before, .scoreBannerWrapper .playerScoreWrap .scoreCard.bowlersScore::before {
  position: absolute;
  margin-left: -15px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard.batterScore::before {
  content: "Batters";
  top: 10px;
}
.scoreBannerWrapper .playerScoreWrap .scoreCard.bowlersScore::before {
  content: "Bowlers";
  top: 10px;
}
@media (max-width: 480px) {
  .scoreBannerWrapper .playerScoreWrap .scoreCard.bowlersScore::before {
    top: 105px;
  }
}

.latestUpdateWrap {
  position: relative;
  z-index: 2;
  background-color: #FFFFFF;
  padding: 40px 135px;
}
@media (max-width: 1024px) {
  .latestUpdateWrap {
    padding: 40px 60px;
  }
}
@media (max-width: 800px) {
  .latestUpdateWrap {
    padding: 40px 50px;
  }
}
@media (max-width: 480px) {
  .latestUpdateWrap {
    padding: 20px 10px;
  }
}
.latestUpdateWrap .headTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .headTitle {
    margin-bottom: 12px;
  }
}
.latestUpdateWrap .headTitle p {
  font-weight: 600;
}
.latestUpdateWrap .headTitle a {
  text-decoration: underline;
  color: #E50695;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 480px) {
  .latestUpdateWrap .headTitle a {
    font-size: 12px;
  }
}
.latestUpdateWrap .newsBigWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper {
    flex-direction: column;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard {
  width: 50%;
  border-radius: 5px;
  border: 1px solid;
  min-height: 300px;
  position: relative;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard {
    width: 100%;
    min-height: 305px;
  }
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard:nth-child(2) {
    display: none;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard .latestimage {
  width: 100%;
  min-height: inherit;
  background-image: url("../images/bigimage.png");
  display: block;
  border-radius: inherit;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard .latestimage {
    min-height: 190px;
    object-fit: cover;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard .copy {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 10px 20px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard .copy {
    bottom: 4px;
    background: #f5f5f5;
    color: black;
    padding: 10px 15px;
    min-height: 90px;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard .copy .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 22px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard .copy .copyMeta {
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard .copy .copyMeta .like .icon {
    filter: brightness(0.1);
    height: 16px;
    width: 16px;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(360deg, #0F1C70 0%, rgba(45, 65, 207, 0) 57%);
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard::after {
    background: none;
  }
}
.latestUpdateWrap .newsBigWrapper .newsCard::before {
  content: "";
  position: absolute;
  bottom: -5px;
  background: linear-gradient(90deg, #EA14EC 0%, #1246CE 100%);
  display: block;
  width: 90%;
  height: 5px;
  left: 30px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsBigWrapper .newsCard::before {
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}
.latestUpdateWrap .newsSmallWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper {
    flex-direction: column;
    gap: 16px;
  }
}
.latestUpdateWrap .newsSmallWrapper .newsCard {
  width: 25%;
  border-radius: 5px;
  min-height: 300px;
  position: relative;
  color: #000000;
  background-color: #F5F5F5;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard {
    width: 100%;
    display: flex;
    min-height: 100px;
  }
}
.latestUpdateWrap .newsSmallWrapper .newsCard .latestimage {
  background-image: url("../images/smallimage.png");
  background-repeat: no-repeat;
  object-fit: cover;
  min-height: 210px;
  width: 100%;
  display: block;
  border-radius: inherit;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .latestimage {
    order: 2;
    min-height: 100px;
    background-image: url("../images/mobileimg.png");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .latestimage::after {
    content: "";
    position: relative;
    bottom: -5px;
    background: linear-gradient(90deg, #EA14EC 0%, #1246CE 100%);
    display: block;
    width: calc(100% - 15px);
    margin: auto;
    height: 3px;
    left: 0px;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
  }
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .latestimage::before {
    content: "";
    display: block;
    top: 5px;
    width: inherit;
    min-height: inherit;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(360deg, #000 0%, rgba(50, 50, 50, 0) 53%);
  }
}
.latestUpdateWrap .newsSmallWrapper .newsCard .copy {
  padding: 10px 20px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .copy {
    order: 1;
  }
}
.latestUpdateWrap .newsSmallWrapper .newsCard .copy .title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 22px;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .copy .copyMeta {
    margin-bottom: 0px;
  }
}
.latestUpdateWrap .newsSmallWrapper .newsCard .copy .copyMeta .like .icon {
  height: 16px;
  width: 16px;
  filter: brightness(0.1);
}
.latestUpdateWrap .newsSmallWrapper .newsCard .copy::after {
  content: "";
  position: absolute;
  bottom: -5px;
  background: linear-gradient(90deg, #EA14EC 0%, #1246CE 100%);
  display: block;
  width: 90%;
  height: 5px;
  left: 13px;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}
@media (max-width: 480px) {
  .latestUpdateWrap .newsSmallWrapper .newsCard .copy::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
